<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>About</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css'%}"/>
</head>
<body>
<h2 class="redclass"><center>About Us</center></h2>
<center>
	<p class="whiteclass">
		This website is developed by a beginer developer named as Vaishnav Shivcharan Ghenge
		<br>
		using the python django framework. This is website is a typical hospital website that every hospital had to be.  
    </p>
</center>
</body>
</html>