<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css'%}"/>
</head>
<body>
<h2 class="redclass" id="mid-term"><center>Home</center></h2>
<center class="whiteclass" id="button-weight">
	<a href="site_/log-in/">Login-in</a>
	<a href="contact/">Contact</a>
	<a href="about/">About Us</a>
</center>
<br>
<br>
<br>
<br>
<br>
<h1 class="myclass" id="mid-term"><center>Hospital Website</center></h1>
</body>
</html>