<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css'%}"/>
</head>
<body>
<h2 class="redclass" id="mid-term"><center>Home</center></h2>
<center class="whiteclass" id="button-weight">
	<a href="hospital-list/">Hospital List</a>
	<a href="hospital-detail/">Hospital Detail</a>
	<a href="doctor/doctor-list/">Doctor List</a>
	<a href="doctor/doctor-detail/">Doctor Detail</a>
	<a href="add-hospital/" >Add Hospital</a>
	<a href="add-doctor/">Add Doctor</a>
	<a href="contact/">Contact</a>
	<a href="about/">About Us</a>
</center>
<br>
<br>
<br>
<br>
<br>
<h1 class="myclass" id="mid-term"><center>Hospital Website</center></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center class="whiteclass" id="button-weight"><a href="logout/">Logout</a></center>
</body>
</html>